@*@model IEnumerable<MusicSpot.Data.Models.Artist>*@
@model AllArtistViewModel

@{
    ViewData["Title"] = "Artists";
}

<h1>My Artists Catalog</h1>

<form method="get">
    <div class="form-group col-md-4 mt-3 mb-3">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" id="textId" class="form-control" placeholder="Artist name">
    </div>
</form>

<div class="form-group btn btn-primary mt-2 mb-2">
    <a class="text-white text-decoration-none" asp-action="Create">Add Artist</a>
</div>
<div class="form-group btn btn-primary mt-2 mb-2">
    <a class="text-white text-decoration-none" asp-area="" asp-controller="Albums" asp-action="Create">Add Album</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Genre
            </th>
            <th>
                Albums
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*@if (User.Identity.IsAuthenticated)
            {

            }*@
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a class="btn btn-secondary m-1 text-nowrap" asp-area="" asp-controller="Albums" asp-action="AllAlbums" asp-route-id="@item.Id">All Albums</a>
                </td>
                <td>
                    @*<a asp-action="Create">Add Artist</a> ||*@
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<paging render-mode="Bootstrap5"
        page-no="@Model.PageNum"
        page-size="@Model.PageSize"
        total-records="@Model.TotalRec"
        page-size-dropdown-items="5-25-50">
</paging>

<script src="~/js/site.js" asp-append-version="true"></script>
