@model AllBooksViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<form method="get">
    <div class="form-group col-md-4 mt-3 mb-3">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" id="textId" class="form-control" placeholder="Book Title">
    </div>
</form>

<p>
    <a class="form-group btn btn-primary mt-2 mb-2" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Genre
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Description
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <img src="@Html.Raw(item.ImageUrl)" class="img-thumbnail">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<paging render-mode="Bootstrap5"
        page-no="@Model.PageNum"
        page-size="@Model.PageSize"
        total-records="@Model.TotalRec"
        page-size-dropdown-items="5-25-50">
</paging>
<script src="~/js/site.js" asp-append-version="true"></script>
