@model AllTracksViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="get">
    <div class="form-group col-md-4 mt-3 mb-3">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" id="textId" class="form-control" placeholder="Search...">
    </div>
</form>

@*<p>
    <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Duration
            </th>
            <th>
                Album
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tracks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album.Name)
                </td>
                <td>
                    <a class="btn btn-success m-1 btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning m-1 btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger m-1 btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group btn btn-primary mb-2">
    <a class="text-white text-decoration-none" asp-controller="Albums" asp-action="Index">Back To Albums</a>
</div>

<paging render-mode="Bootstrap5"
        page-no="@Model.PageNum"
        page-size="@Model.PageSize"
        total-records="@Model.TotalRec"
        page-size-dropdown-items="5-25-50">
</paging>

<script src="~/js/site.js" asp-append-version="true"></script>