@model AllAlbumsViewModel

@{
    ViewData["Title"] = "Albums";
}
<br />
<form method="get">
    <div class="form-group col-md-3">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" id="textId" class="form-control" placeholder="Album name, Year or Format">
    </div>
</form>
<br />
<h1>All Albums</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Year
            </th>
            <th>
                Format
            </th>
            <th>
                MediaCondition
            </th>
            <th>
                SleeveCondition
            </th>
            <th>
                Notes
            </th>
            <th>
                Artist
            </th>
            <th>
                Tracks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.Raw(item.ImageUrl)" class="img-thumbnail">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SleeveCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    <a class="btn btn-secondary m-1 text-nowrap" asp-area="" asp-controller="Tracks" asp-action="AllTracks" asp-route-id="@item.Id">All Tracks</a>
                </td>
                @* <td>
                    <a class="nav-link btn text-center" asp-area="" asp-controller="Tracks" asp-action="Create" asp-route-id="@item.Id">Add Tracks</a>
                    </td>*@
                <td class="btn-group-vertical text-nowrap">
                    <a class="btn btn-info m-1" asp-controller="Tracks" asp-action="Create" asp-route-id="@item.Id">Add Tracks</a>
                    <a class="btn btn-success m-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning m-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/site.js" asp-append-version="true"></script>