@model MusicSpot.Data.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.Raw(Model.ImageUrl)">
            @*@Html.DisplayFor(model => model.ImageUrl)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MediaCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MediaCondition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SleeveCondition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SleeveCondition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        @*<dd class="col-sm-10">
            @Html.ListBox(model => model.Tracks, List<Track> tracks, )
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Tracks)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
