@model AllAlbumsViewModel

@{
    ViewData["Title"] = "Albums";
}
<form method="get">
    <div class="form-group col-md-4">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" class="form-control" placeholder="Album name, Year or Format">
    </div>
</form>

<h1>Albums</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                ImageUrl
            </th>
            <th>
                Year
            </th>
            <th>
                Format
            </th>
            <th>
                MediaCondition
            </th>
            <th>
                SleeveCondition
            </th>
            <th>
                Notes
            </th>
            <th>
                Artist
            </th>
            <th>
                Tracks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Albums)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@Html.Raw(item.ImageUrl)" class="img-thumbnail">
                    @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SleeveCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.Name)
                </td>
                <td>
                    <a class="nav-link text-red" asp-area="" asp-controller="Tracks" asp-action="AllTracks" asp-route-id="@item.Id">All Tracks</a>
                    @*@Html.DisplayFor(modelItem => item.Tracks.First))*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
